
.comment {
  border-bottom: 1px solid #ccc;
  padding: 0 .4rem .4rem;
  margin-bottom: .4rem;
}

.comment > button {
  float: right;
  border: 0;
  padding: 0;
}

.comment > button:hover {
  background: none;
  color: #6c757d;
}