h5 {
  width: calc(100% - 40px);
}

.ideaCard {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: .2rem;
  box-shadow: 1px 1px 1px #ccc;
  padding: 1rem 1rem 5rem 1rem;
  margin-bottom: 2rem;
}

.ideaCard > div.ideaCardHead {
  position: relative;
  min-height: 50px;
}

.ideaCard > div.ideaCardHead > div.handle {
  position: absolute;
  width: calc(100% - 3rem);
  height: 100%;
  cursor: move;
}

.ideaCard > div.ideaCardHead > button {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, .8);
  color: #444;
  font-size: 1.3rem;
  border: 0;
  padding: 0.05rem 0.45rem;
}

.ideaCard > div.ideaCardHead > button:hover {
  background: #6c757d;
  color: #fff;
}

.ideaCard > div:last-of-type {
  position: absolute;
  bottom: 1rem;
  width: calc(100% - 2rem);
  text-align: center;
}
