.ideaCard {
  position: relative;
  width: 100%;
  background: #fff;
  border: 1px solid #888;
  border-radius: .1rem;
  box-shadow: 1px 1px 1px #ccc;
  padding: 1rem 1rem 5rem 1rem; 
}

.ideaCard > div.ideaCardHead {
  position: relative;
  min-height: 50px;
}

.ideaCard > div.ideaCardHead > button {
  position: absolute;
  top: 0;
  right: 0;
}

.ideaCard > div:last-of-type {
  position: absolute;
  bottom: 1rem;
  width: calc(100% - 2rem);
  text-align: center;
}
